.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.trainerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  /* Dodaj odstęp między banerem a sekcją trenera */
}

.trainerImage {
  flex: 1;
  margin-right: 20px;
  /* Dodaj odstęp między zdjęciem a opisem trenera */
}

.trainerDescription {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Wyśrodkowanie tekstu w pionie */
  text-align: center;
  /* Wyśrodkowanie tekstu w poziomie */
}

.trainerDescription h1 {
  font-size: 4rem;
  /* Zwiększenie rozmiaru tekstu dla h1 */
}

.trainerDescription h2 {
  font-size: 3rem;
  /* Zwiększenie rozmiaru tekstu dla h2 */
}

.trainerDescription p {
  font-size: 2rem;
  /* Zwiększenie rozmiaru tekstu dla reszty tekstu */
}

.roundedImage {
  border-radius: 50%;
}

/* Reszta stylów, które nie zostały zmodyfikowane, zostają bez zmian */