.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 100%;
}

.right .next-image {
    width: 100%;
    height: auto;
}

.imageWrapper {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.description {
    margin-top: 10px;
    text-align: center;
}

.center {
    text-align: center;
}

.text {
    font-size: 24px;
}