.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Pozwala na automatyczne przenoszenie elementów do nowego wiersza */
    justify-content: center;
    /* Wyśrodkowanie wzdłuż osi x */
    align-items: center;
    /* Wyśrodkowanie wzdłuż osi y */
}

.gallery img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 10px;
    /* Dodajemy odstęp między obrazami */
}

.naglowek {
    font-size: 105px;
    text-align: center;
    font-family: fantasy;
}