.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    /* Dodajemy odstęp między obrazami */
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* Zapewnia, że obrazy będą zachowywać się dobrze, nawet jeśli nie zachowają proporcji */
}